In [1]:
import pandas as pd
import numpy as np

In [2]:
pre_final_lab=pd.read_csv("labs_after_FiO2.csv")
susp=pd.read_csv("24_hour_sepsis.csv")

In [3]:
pre_final_lab.head()

,patientunitstayid,labresultoffset,labname,labresult,paO2_FiO2
0,141168,1701,urinary creatinine,173.12,NaN
1,141168,2026,paO2,68.00,136.0
2,141168,2141,paO2,121.00,121.0
3,141168,1133,platelets x 1000,213.00,NaN
4,141168,2010,paO2,42.00,84.0

In [4]:
pre_final_lab['platelets_x_1000']=np.nan
pre_final_lab['total_bilirubin']=np.nan
pre_final_lab['urinary_creatinine']=np.nan

In [5]:
pre_final_lab['platelets_x_1000']=pre_final_lab.loc[pre_final_lab['labname']=='platelets x 1000','labresult']
pre_final_lab['total_bilirubin']=pre_final_lab.loc[pre_final_lab['labname']=='total bilirubin','labresult']
pre_final_lab['urinary_creatinine']=pre_final_lab.loc[pre_final_lab['labname']=='urinary creatinine','labresult']

In [6]:
pre_final_lab

,patientunitstayid,labresultoffset,labname,labresult,paO2_FiO2,platelets_x_1000,total_bilirubin,urinary_creatinine
0,141168,1701,urinary creatinine,173.12,NaN,NaN,NaN,173.12
1,141168,2026,paO2,68.00,136.000000,NaN,NaN,NaN
2,141168,2141,paO2,121.00,121.000000,NaN,NaN,NaN
3,141168,1133,platelets x 1000,213.00,NaN,213.0,NaN,NaN
4,141168,2010,paO2,42.00,84.000000,NaN,NaN,NaN
5,141168,2026,total bilirubin,5.20,NaN,NaN,5.2,NaN
6,141168,2026,platelets x 1000,187.00,NaN,187.0,NaN,NaN
7,141168,1805,paO2,41.00,82.000000,NaN,NaN,NaN
8,141168,516,total bilirubin,2.60,NaN,NaN,2.6,NaN
9,141168,1133,total bilirubin,4.10,NaN,NaN,4.1,NaN
10,141168,516,platelets x 1000,209.00,NaN,209.0,NaN,NaN
11,141178,-280,platelets x 1000,273.00,NaN,273.0,NaN,NaN
12,141178,-280,total bilirubin,0.40,NaN,NaN,0.4,NaN
13,141179,1487,platelets x 1000,219.00,NaN,219.0,NaN,NaN
14,141194,7303,platelets x 1000,139.00,NaN,139.0,NaN,NaN
15,141194,2102,paO2,100.00,263.923680,NaN,NaN,NaN
16,141194,312,total bilirubin,0.40,NaN,NaN,0.4,NaN
17,141194,1630,platelets x 1000,199.00,NaN,199.0,NaN,NaN
18,141194,8762,platelets x 1000,158.00,NaN,158.0,NaN,NaN
19,141194,-923,total bilirubin,0.40,NaN,NaN,0.4,NaN
20,141194,-923,platelets x 1000,298.00,NaN,298.0,NaN,NaN
21,141194,2998,platelets x 1000,146.00,NaN,146.0,NaN,NaN
22,141194,11658,platelets x 1000,265.00,NaN,265.0,NaN,NaN
23,141194,312,platelets x 1000,233.00,NaN,233.0,NaN,NaN
24,141194,4663,platelets x 1000,142.00,NaN,142.0,NaN,NaN
25,141194,10397,platelets x 1000,200.00,NaN,200.0,NaN,NaN
26,141194,5897,platelets x 1000,125.00,NaN,125.0,NaN,NaN
27,141196,3600,total bilirubin,0.30,NaN,NaN,0.3,NaN
28,141196,4987,platelets x 1000,504.00,NaN,504.0,NaN,NaN
29,141196,1030,paO2,70.00,263.944700,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2010809,3353251,-169,paO2,246.00,246.000000,NaN,NaN,NaN
2010810,3353251,11054,paO2,87.00,217.500000,NaN,NaN,NaN
2010811,3353251,9901,paO2,80.00,177.777770,NaN,NaN,NaN
2010812,3353251,-50,paO2,163.00,163.000000,NaN,NaN,NaN
2010813,3353251,1065,paO2,89.00,111.250000,NaN,NaN,NaN
2010814,3353251,2541,platelets x 1000,205.00,NaN,205.0,NaN,NaN
2010815,3353251,1490,platelets x 1000,202.00,NaN,202.0,NaN,NaN
2010816,3353251,-60,total bilirubin,0.50,NaN,NaN,0.5,NaN
2010817,3353251,5459,platelets x 1000,106.00,NaN,106.0,NaN,NaN
2010818,3353251,4510,paO2,72.00,180.000000,NaN,NaN,NaN
2010819,3353251,-60,platelets x 1000,232.00,NaN,232.0,NaN,NaN
2010820,3353251,5598,paO2,68.00,170.000000,NaN,NaN,NaN
2010821,3353251,1127,platelets x 1000,196.00,NaN,196.0,NaN,NaN
2010822,3353251,972,paO2,153.00,191.250000,NaN,NaN,NaN
2010823,3353251,82,paO2,136.00,136.000000,NaN,NaN,NaN
2010824,3353251,6868,platelets x 1000,129.00,NaN,129.0,NaN,NaN
2010825,3353251,2448,paO2,71.00,118.333336,NaN,NaN,NaN
2010826,3353251,310,paO2,94.00,94.000000,NaN,NaN,NaN
2010827,3353254,5558,platelets x 1000,185.00,NaN,185.0,NaN,NaN
2010828,3353254,-256,platelets x 1000,268.00,NaN,268.0,NaN,NaN
2010829,3353254,-256,total bilirubin,0.40,NaN,NaN,0.4,NaN
2010830,3353254,4237,paO2,57.00,inf,NaN,NaN,NaN
2010831,3353254,1218,platelets x 1000,183.00,NaN,183.0,NaN,NaN
2010832,3353254,2610,platelets x 1000,132.00,NaN,132.0,NaN,NaN
2010833,3353254,4143,platelets x 1000,158.00,NaN,158.0,NaN,NaN
2010834,3353263,7490,platelets x 1000,246.00,NaN,246.0,NaN,NaN
2010835,3353263,3048,platelets x 1000,180.00,NaN,180.0,NaN,NaN
2010836,3353263,-7,platelets x 1000,161.00,NaN,161.0,NaN,NaN
2010837,3353263,-7,platelets x 1000,164.00,NaN,164.0,NaN,NaN
2010838,3353263,1733,platelets x 1000,169.00,NaN,169.0,NaN,NaN

In [7]:
pre_final_lab['paO2_FiO2']=pre_final_lab['paO2_FiO2'].astype('float32')
pre_final_lab['platelets_x_1000']=pre_final_lab['platelets_x_1000'].astype('float32')
pre_final_lab['total_bilirubin']=pre_final_lab['total_bilirubin'].astype('float32')
pre_final_lab['urinary_creatinine']=pre_final_lab['urinary_creatinine'].astype('float32')

In [8]:
pre_final_lab.dtypes

patientunitstayid       int64
labresultoffset         int64
labname                object
labresult             float64
paO2_FiO2             float32
platelets_x_1000      float32
total_bilirubin       float32
urinary_creatinine    float32
dtype: object

In [9]:
pre_final_lab=pre_final_lab.replace([np.inf, -np.inf], np.nan)

In [10]:
del pre_final_lab['labresult']

In [11]:
del pre_final_lab['labname']

In [12]:
pre_final_lab

,patientunitstayid,labresultoffset,paO2_FiO2,platelets_x_1000,total_bilirubin,urinary_creatinine
0,141168,1701,NaN,NaN,NaN,173.119995
1,141168,2026,136.000000,NaN,NaN,NaN
2,141168,2141,121.000000,NaN,NaN,NaN
3,141168,1133,NaN,213.0,NaN,NaN
4,141168,2010,84.000000,NaN,NaN,NaN
5,141168,2026,NaN,NaN,5.2,NaN
6,141168,2026,NaN,187.0,NaN,NaN
7,141168,1805,82.000000,NaN,NaN,NaN
8,141168,516,NaN,NaN,2.6,NaN
9,141168,1133,NaN,NaN,4.1,NaN
10,141168,516,NaN,209.0,NaN,NaN
11,141178,-280,NaN,273.0,NaN,NaN
12,141178,-280,NaN,NaN,0.4,NaN
13,141179,1487,NaN,219.0,NaN,NaN
14,141194,7303,NaN,139.0,NaN,NaN
15,141194,2102,263.923676,NaN,NaN,NaN
16,141194,312,NaN,NaN,0.4,NaN
17,141194,1630,NaN,199.0,NaN,NaN
18,141194,8762,NaN,158.0,NaN,NaN
19,141194,-923,NaN,NaN,0.4,NaN
20,141194,-923,NaN,298.0,NaN,NaN
21,141194,2998,NaN,146.0,NaN,NaN
22,141194,11658,NaN,265.0,NaN,NaN
23,141194,312,NaN,233.0,NaN,NaN
24,141194,4663,NaN,142.0,NaN,NaN
25,141194,10397,NaN,200.0,NaN,NaN
26,141194,5897,NaN,125.0,NaN,NaN
27,141196,3600,NaN,NaN,0.3,NaN
28,141196,4987,NaN,504.0,NaN,NaN
29,141196,1030,263.944702,NaN,NaN,NaN
...,...,...,...,...,...,...
2010809,3353251,-169,246.000000,NaN,NaN,NaN
2010810,3353251,11054,217.500000,NaN,NaN,NaN
2010811,3353251,9901,177.777771,NaN,NaN,NaN
2010812,3353251,-50,163.000000,NaN,NaN,NaN
2010813,3353251,1065,111.250000,NaN,NaN,NaN
2010814,3353251,2541,NaN,205.0,NaN,NaN
2010815,3353251,1490,NaN,202.0,NaN,NaN
2010816,3353251,-60,NaN,NaN,0.5,NaN
2010817,3353251,5459,NaN,106.0,NaN,NaN
2010818,3353251,4510,180.000000,NaN,NaN,NaN
2010819,3353251,-60,NaN,232.0,NaN,NaN
2010820,3353251,5598,170.000000,NaN,NaN,NaN
2010821,3353251,1127,NaN,196.0,NaN,NaN
2010822,3353251,972,191.250000,NaN,NaN,NaN
2010823,3353251,82,136.000000,NaN,NaN,NaN
2010824,3353251,6868,NaN,129.0,NaN,NaN
2010825,3353251,2448,118.333336,NaN,NaN,NaN
2010826,3353251,310,94.000000,NaN,NaN,NaN
2010827,3353254,5558,NaN,185.0,NaN,NaN
2010828,3353254,-256,NaN,268.0,NaN,NaN
2010829,3353254,-256,NaN,NaN,0.4,NaN
2010830,3353254,4237,NaN,NaN,NaN,NaN
2010831,3353254,1218,NaN,183.0,NaN,NaN
2010832,3353254,2610,NaN,132.0,NaN,NaN
2010833,3353254,4143,NaN,158.0,NaN,NaN
2010834,3353263,7490,NaN,246.0,NaN,NaN
2010835,3353263,3048,NaN,180.0,NaN,NaN
2010836,3353263,-7,NaN,161.0,NaN,NaN
2010837,3353263,-7,NaN,164.0,NaN,NaN
2010838,3353263,1733,NaN,169.0,NaN,NaN

In [15]:
cases=list(susp[susp['flag']==1]['patientunitstayid'].unique())
filtered_prefinal=pre_final_lab.loc[pre_final_lab['patientunitstayid'].isin(cases)]
len(list(filtered_prefinal['patientunitstayid'].unique()))

14156

In [19]:
df_lab=pd.read_csv('lab.csv',chunksize=10000)
arr=[]
for chunk in df_lab:
    arr.append(chunk)
df_lab=pd.concat(arr,sort=False)
creatinine_to_merge=df_lab
creatinine_to_merge['creatinine']=np.nan
creatinine_to_merge.loc[creatinine_to_merge['labname'].str.startswith('creatinine'),'creatinine']=creatinine_to_merge['labresult']
creatinine_to_merge=creatinine_to_merge.loc[creatinine_to_merge['labname'].str.startswith('creatinine')]
creatinine_to_merge=creatinine_to_merge[['patientunitstayid','labresultoffset','creatinine']]
creatinine_to_merge.to_csv("creatinine_extract.csv",index=False)

In [16]:
creatinine_to_merge=pd.read_csv('creatinine_extract.csv')

In [17]:
len(creatinine_to_merge.loc[creatinine_to_merge['patientunitstayid'].isin(cases)]['patientunitstayid'].unique())

14151

In [21]:
labswithcreatinine=pd.merge(pre_final_lab,creatinine_to_merge,on=['patientunitstayid','labresultoffset'],how='outer')
labswithcreatinine=labswithcreatinine.groupby(['patientunitstayid','labresultoffset'],as_index=False).max()

In [22]:
labswithcreatinine.to_csv("labs_updated_with_creatinine.csv",index=False)

In [16]:
labswithcreatinine.head()

,patientunitstayid,labresultoffset,paO2_FiO2,platelets_x_1000,total_bilirubin,urinary_creatinine,creatinine
0,141168,516,NaN,209.0,2.6,NaN,1.95
1,141168,1133,NaN,213.0,4.1,NaN,2.30
2,141168,1701,NaN,NaN,NaN,173.119995,NaN
3,141168,1805,82.0,NaN,NaN,NaN,NaN
4,141168,2010,84.0,NaN,NaN,NaN,NaN

In [17]:
nursevent=pd.read_csv("nursechartVent.csv")

In [18]:
nursevent.head()

,patientunitstayid,nursingchartentryoffset,nursingchartcelltypecat,nursingchartcelltypevallabel,nursingchartvalue
0,142723,1124,Vital Signs,O2 Admin Device,ventilator
1,143325,632,Vital Signs,O2 Admin Device,ventilator
2,143325,1713,Vital Signs,O2 Admin Device,ventilator
3,144297,17658,Vital Signs,O2 Admin Device,ventilator
4,144297,10426,Vital Signs,O2 Admin Device,ventilator

In [19]:
nursevent=nursevent[['patientunitstayid','nursingchartentryoffset','nursingchartvalue']]

In [36]:
#now we will merge ventilator support with labs table
#we need all the labs columns, but only need info about ventilator support if available, so we will use a left join instead of an outer join
labs_withO2=pd.merge(labswithcreatinine,nursevent,left_on=['patientunitstayid'],right_on=['patientunitstayid'],how='left').drop_duplicates()

In [37]:
#This is fairly how we want the table to look like, but the nursingchartentryoffset values need to filtered before using for paO2_FiO2
labs_withO2.loc[(labs_withO2['patientunitstayid']==144297)]

,patientunitstayid,labresultoffset,paO2_FiO2,platelets_x_1000,total_bilirubin,urinary_creatinine,creatinine,nursingchartentryoffset,nursingchartvalue
3284,144297,79,315.714294,NaN,NaN,NaN,NaN,17658.0,ventilator
3285,144297,79,315.714294,NaN,NaN,NaN,NaN,10426.0,ventilator
3286,144297,79,315.714294,NaN,NaN,NaN,NaN,59401.0,ventilator
3287,144297,128,178.571426,NaN,NaN,NaN,NaN,17658.0,ventilator
3288,144297,128,178.571426,NaN,NaN,NaN,NaN,10426.0,ventilator
3289,144297,128,178.571426,NaN,NaN,NaN,NaN,59401.0,ventilator
3290,144297,187,511.666656,NaN,NaN,NaN,NaN,17658.0,ventilator
3291,144297,187,511.666656,NaN,NaN,NaN,NaN,10426.0,ventilator
3292,144297,187,511.666656,NaN,NaN,NaN,NaN,59401.0,ventilator
3293,144297,247,475.000000,NaN,NaN,NaN,NaN,17658.0,ventilator
3294,144297,247,475.000000,NaN,NaN,NaN,NaN,10426.0,ventilator
3295,144297,247,475.000000,NaN,NaN,NaN,NaN,59401.0,ventilator
3296,144297,290,300.000000,NaN,NaN,NaN,NaN,17658.0,ventilator
3297,144297,290,300.000000,NaN,NaN,NaN,NaN,10426.0,ventilator
3298,144297,290,300.000000,NaN,NaN,NaN,NaN,59401.0,ventilator
3299,144297,395,238.333328,NaN,NaN,NaN,NaN,17658.0,ventilator
3300,144297,395,238.333328,NaN,NaN,NaN,NaN,10426.0,ventilator
3301,144297,395,238.333328,NaN,NaN,NaN,NaN,59401.0,ventilator
3302,144297,396,NaN,170.0,NaN,NaN,NaN,17658.0,ventilator
3303,144297,396,NaN,170.0,NaN,NaN,NaN,10426.0,ventilator
3304,144297,396,NaN,170.0,NaN,NaN,NaN,59401.0,ventilator
3305,144297,512,281.666656,NaN,NaN,NaN,NaN,17658.0,ventilator
3306,144297,512,281.666656,NaN,NaN,NaN,NaN,10426.0,ventilator
3307,144297,512,281.666656,NaN,NaN,NaN,NaN,59401.0,ventilator
3308,144297,659,302.500000,NaN,NaN,NaN,NaN,17658.0,ventilator
3309,144297,659,302.500000,NaN,NaN,NaN,NaN,10426.0,ventilator
3310,144297,659,302.500000,NaN,NaN,NaN,NaN,59401.0,ventilator
3311,144297,763,205.000000,NaN,NaN,NaN,NaN,17658.0,ventilator
3312,144297,763,205.000000,NaN,NaN,NaN,NaN,10426.0,ventilator
3313,144297,763,205.000000,NaN,NaN,NaN,NaN,59401.0,ventilator
...,...,...,...,...,...,...,...,...,...
3632,144297,58341,NaN,327.0,16.5,NaN,5.11,17658.0,ventilator
3633,144297,58341,NaN,327.0,16.5,NaN,5.11,10426.0,ventilator
3634,144297,58341,NaN,327.0,16.5,NaN,5.11,59401.0,ventilator
3635,144297,59846,NaN,326.0,15.4,NaN,7.01,17658.0,ventilator
3636,144297,59846,NaN,326.0,15.4,NaN,7.01,10426.0,ventilator
3637,144297,59846,NaN,326.0,15.4,NaN,7.01,59401.0,ventilator
3638,144297,61211,NaN,348.0,15.4,NaN,4.71,17658.0,ventilator
3639,144297,61211,NaN,348.0,15.4,NaN,4.71,10426.0,ventilator
3640,144297,61211,NaN,348.0,15.4,NaN,4.71,59401.0,ventilator
3641,144297,62696,NaN,351.0,14.8,NaN,6.68,17658.0,ventilator
3642,144297,62696,NaN,351.0,14.8,NaN,6.68,10426.0,ventilator
3643,144297,62696,NaN,351.0,14.8,NaN,6.68,59401.0,ventilator
3644,144297,64219,NaN,368.0,13.7,NaN,4.93,17658.0,ventilator
3645,144297,64219,NaN,368.0,13.7,NaN,4.93,10426.0,ventilator
3646,144297,64219,NaN,368.0,13.7,NaN,4.93,59401.0,ventilator
3647,144297,65606,NaN,353.0,13.0,NaN,6.68,17658.0,ventilator
3648,144297,65606,NaN,353.0,13.0,NaN,6.68,10426.0,ventilator
3649,144297,65606,NaN,353.0,13.0,NaN,6.68,59401.0,ventilator
3650,144297,67011,NaN,393.0,13.0,NaN,7.88,17658.0,ventilator
3651,144297,67011,NaN,393.0,13.0,NaN,7.88,10426.0,ventilator
3652,144297,67011,NaN,393.0,13.0,NaN,7.88,59401.0,ventilator
3653,144297,68486,NaN,375.0,12.6,NaN,5.74,17658.0,ventilator
3654,144297,68486,NaN,375.0,12.6,NaN,5.74,10426.0,ventilator
3655,144297,68486,NaN,375.0,12.6,NaN,5.74,59401.0,ventilator
3656,144297,69911,NaN,389.0,12.6,NaN,7.24,17658.0,ventilator
3657,144297,69911,NaN,389.0,12.6,NaN,7.24,10426.0,ventilator
3658,144297,69911,NaN,389.0,12.6,NaN,7.24,59401.0,ventilator
3659,144297,71281,NaN,388.0,12.5,NaN,4.96,17658.0,ventilator
3660,144297,71281,NaN,388.0,12.5,NaN,4.96,10426.0,ventilator
3661,144297,71281,NaN,388.0,12.5,NaN,4.96,59401.0,ventilator

In [38]:
labs_withO2.head()

,patientunitstayid,labresultoffset,paO2_FiO2,platelets_x_1000,total_bilirubin,urinary_creatinine,creatinine,nursingchartentryoffset,nursingchartvalue
0,141168,516,NaN,209.0,2.6,NaN,1.95,513.0,nasal cannula
1,141168,1133,NaN,213.0,4.1,NaN,2.30,513.0,nasal cannula
2,141168,1701,NaN,NaN,NaN,173.119995,NaN,513.0,nasal cannula
3,141168,1805,82.0,NaN,NaN,NaN,NaN,513.0,nasal cannula
4,141168,2010,84.0,NaN,NaN,NaN,NaN,513.0,nasal cannula

In [39]:
#Include SOFA scores

labs_withO2.loc[(labs_withO2['platelets_x_1000'] >=150), 'SOFA_Coagulation'] = 0
labs_withO2.loc[(labs_withO2['platelets_x_1000'] <150), 'SOFA_Coagulation'] = 1
labs_withO2.loc[(labs_withO2['platelets_x_1000'] <100) , 'SOFA_Coagulation'] = 2
labs_withO2.loc[(labs_withO2['platelets_x_1000'] <50), 'SOFA_Coagulation'] = 3
labs_withO2.loc[(labs_withO2['platelets_x_1000'] <20), 'SOFA_Coagulation'] = 4

labs_withO2.loc[(labs_withO2['total_bilirubin'] <1.2), 'SOFA_Liver'] = 0
labs_withO2.loc[(labs_withO2['total_bilirubin'] >=1.2) & (labs_withO2['total_bilirubin'] <=1.9), 'SOFA_Liver'] = 1
labs_withO2.loc[(labs_withO2['total_bilirubin'] >=2) & (labs_withO2['total_bilirubin'] <=5.9), 'SOFA_Liver'] = 2
labs_withO2.loc[(labs_withO2['total_bilirubin'] >=6) & (labs_withO2['total_bilirubin'] <=11.9), 'SOFA_Liver'] = 3
labs_withO2.loc[(labs_withO2['total_bilirubin'] >12), 'SOFA_Liver'] = 4

labs_withO2.loc[(labs_withO2['paO2_FiO2'] >=400), 'SOFA_Respiration'] = 0
labs_withO2.loc[(labs_withO2['paO2_FiO2'] <400), 'SOFA_Respiration'] = 1
labs_withO2.loc[(labs_withO2['paO2_FiO2'] <300), 'SOFA_Respiration'] = 2
labs_withO2.loc[((labs_withO2['paO2_FiO2'] <200) & (labs_withO2['nursingchartvalue'] =='ventilator')), 'SOFA_Respiration'] = 3
labs_withO2.loc[((labs_withO2['paO2_FiO2'] <100) & (labs_withO2['nursingchartvalue'] =='ventilator')), 'SOFA_Respiration'] = 4

labs_withO2.loc[((labs_withO2['creatinine'] >=0) & (labs_withO2['creatinine'] <=1.1)), 'SOFA_Renal'] = 0
labs_withO2.loc[((labs_withO2['creatinine'] >=1.2) & (labs_withO2['creatinine'] <=1.9)), 'SOFA_Renal'] = 1
labs_withO2.loc[((labs_withO2['creatinine'] >=2) & (labs_withO2['creatinine'] <=3.4)), 'SOFA_Renal'] = 2
labs_withO2.loc[((labs_withO2['creatinine'] >=3.5) & (labs_withO2['creatinine'] <=4.9)) | (labs_withO2['urinary_creatinine'] <200), 'SOFA_Renal'] = 3
labs_withO2.loc[(labs_withO2['creatinine'] >5) | (labs_withO2['urinary_creatinine'] <200), 'SOFA_Renal'] = 4

In [40]:
labs_withO2.head()

,patientunitstayid,labresultoffset,paO2_FiO2,platelets_x_1000,total_bilirubin,urinary_creatinine,creatinine,nursingchartentryoffset,nursingchartvalue,SOFA_Coagulation,SOFA_Liver,SOFA_Respiration,SOFA_Renal
0,141168,516,NaN,209.0,2.6,NaN,1.95,513.0,nasal cannula,0.0,2.0,NaN,NaN
1,141168,1133,NaN,213.0,4.1,NaN,2.30,513.0,nasal cannula,0.0,2.0,NaN,2.0
2,141168,1701,NaN,NaN,NaN,173.119995,NaN,513.0,nasal cannula,NaN,NaN,NaN,4.0
3,141168,1805,82.0,NaN,NaN,NaN,NaN,513.0,nasal cannula,NaN,NaN,2.0,NaN
4,141168,2010,84.0,NaN,NaN,NaN,NaN,513.0,nasal cannula,NaN,NaN,2.0,NaN

In [41]:
labs_withO2['offset'] = np.where(labs_withO2['labresultoffset']>0, labs_withO2['labresultoffset'], labs_withO2['nursingchartentryoffset'])
labs_withO2[['SOFA_Coagulation','SOFA_Liver','SOFA_Respiration','SOFA_Renal']]=labs_withO2[['SOFA_Coagulation','SOFA_Liver','SOFA_Respiration','SOFA_Renal']].fillna(0)
labs_withO2_filtered=labs_withO2[['patientunitstayid','offset','SOFA_Coagulation','SOFA_Liver','SOFA_Respiration','SOFA_Renal']].drop_duplicates()
labs_withO2_filtered.to_csv('Labs_withSOFA.csv',index=False)

In [47]:
labs_withO2_filtered

,patientunitstayid,offset,SOFA_Coagulation,SOFA_Liver,SOFA_Respiration,SOFA_Renal
0,141168,516.0,0.0,2.0,0.0,0.0
1,141168,1133.0,0.0,2.0,0.0,2.0
2,141168,1701.0,0.0,0.0,0.0,4.0
3,141168,1805.0,0.0,0.0,2.0,0.0
4,141168,2010.0,0.0,0.0,2.0,0.0
5,141168,2026.0,0.0,2.0,2.0,2.0
6,141168,2141.0,0.0,0.0,2.0,0.0
7,141178,NaN,0.0,0.0,0.0,0.0
8,141179,82.0,0.0,0.0,0.0,0.0
9,141179,750.0,0.0,0.0,0.0,0.0
10,141179,1487.0,0.0,0.0,0.0,0.0
11,141194,NaN,0.0,0.0,0.0,2.0
12,141194,312.0,0.0,0.0,0.0,2.0
13,141194,762.0,0.0,0.0,0.0,2.0
14,141194,1237.0,0.0,0.0,0.0,2.0
15,141194,1630.0,0.0,0.0,0.0,2.0
16,141194,2102.0,0.0,0.0,2.0,0.0
17,141194,2223.0,0.0,0.0,0.0,2.0
18,141194,2876.0,0.0,0.0,0.0,2.0
19,141194,2998.0,1.0,0.0,0.0,2.0
20,141194,4663.0,1.0,0.0,0.0,0.0
21,141194,5897.0,1.0,0.0,0.0,1.0
22,141194,7303.0,1.0,0.0,0.0,1.0
23,141194,8762.0,0.0,0.0,0.0,1.0
24,141194,10397.0,0.0,0.0,0.0,1.0
25,141194,11658.0,0.0,0.0,0.0,1.0
26,141196,628.0,0.0,0.0,0.0,0.0
27,141196,1030.0,0.0,0.0,2.0,0.0
28,141196,3600.0,0.0,0.0,0.0,0.0
29,141196,4987.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
35749982,3353251,2448.0,0.0,0.0,2.0,0.0
35749983,3353251,2541.0,0.0,0.0,0.0,2.0
35749984,3353251,3863.0,1.0,0.0,0.0,2.0
35749985,3353251,3864.0,0.0,0.0,2.0,0.0
35749986,3353251,4510.0,0.0,0.0,2.0,0.0
35749987,3353251,5459.0,1.0,0.0,0.0,2.0
35749988,3353251,5598.0,0.0,0.0,2.0,0.0
35749989,3353251,6868.0,1.0,0.0,0.0,2.0
35749990,3353251,8246.0,0.0,0.0,0.0,2.0
35749991,3353251,9644.0,0.0,0.0,0.0,3.0
35749992,3353251,9901.0,0.0,0.0,2.0,0.0
35749993,3353251,11054.0,0.0,0.0,2.0,0.0
35749994,3353251,11058.0,0.0,0.0,0.0,3.0
35749995,3353251,12458.0,0.0,0.0,0.0,3.0
35749996,3353251,13970.0,0.0,0.0,0.0,3.0
35749997,3353251,15598.0,0.0,0.0,0.0,2.0
35749998,3353251,16867.0,0.0,0.0,0.0,2.0
35749999,3353251,18327.0,0.0,0.0,0.0,2.0
35750000,3353254,NaN,0.0,0.0,0.0,2.0
35750001,3353254,1218.0,0.0,0.0,0.0,2.0
35750002,3353254,1844.0,0.0,0.0,0.0,2.0
35750003,3353254,2610.0,1.0,0.0,0.0,0.0
35750004,3353254,4143.0,0.0,0.0,0.0,0.0
35750005,3353254,4144.0,0.0,0.0,0.0,1.0
35750006,3353254,4237.0,0.0,0.0,0.0,0.0
35750007,3353254,5558.0,0.0,0.0,0.0,1.0
35750008,3353263,NaN,0.0,0.0,0.0,0.0
35750009,3353263,1733.0,0.0,0.0,0.0,0.0
35750010,3353263,3048.0,0.0,0.0,0.0,0.0
35750011,3353263,7490.0,0.0,0.0,0.0,0.0

<h1>Can be done</h1>
pre_final_lab['paO2_FiO2']=pre_final_lab['paO2_FiO2'].ffill(limit=5)
pre_final_lab['platelets_x_1000']=pre_final_lab['platelets_x_1000'].ffill(limit=5)
pre_final_lab['total_bilirubin']=pre_final_lab['total_bilirubin'].ffill(limit=5)
pre_final_lab['urinary_creatinine']=pre_final_lab['urinary_creatinine'].ffill(limit=5)
pre_final_lab['paO2_FiO2']=pre_final_lab['paO2_FiO2'].bfill(limit=5)
pre_final_lab['platelets_x_1000']=pre_final_lab['platelets_x_1000'].bfill(limit=5)
pre_final_lab['total_bilirubin']=pre_final_lab['total_bilirubin'].bfill(limit=5)
pre_final_lab['urinary_creatinine']=pre_final_lab['urinary_creatinine'].bfill(limit=5)

In [13]:
del pre_final_lab['labname']

In [14]:
pre_final_lab.head()

,patientunitstayid,labresultoffset,paO2_FiO2,platelets_x_1000,total_bilirubin,urinary_creatinine
0,141168,1701,NaN,NaN,NaN,173.119995
1,141168,2026,136.0,NaN,NaN,NaN
2,141168,2141,121.0,NaN,NaN,NaN
3,141168,1133,NaN,213.0,NaN,NaN
4,141168,2010,84.0,NaN,NaN,NaN

In [15]:
pre_final_lab.to_csv('labs_updated.csv',sep=',',index=False,encoding='utf-8')

<h4>Adding additional parameters from physionet challenge data</h4>

In [3]:
df_lab=pd.read_csv('lab.csv',chunksize=100000)

In [4]:
arr=[]
for chunk in df_lab:
    arr.append(chunk)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df_lab=pd.concat(arr,sort=False)

In [21]:
df_to_join=df_lab.loc[(df_lab['labname'].str.contains('HCO3')) | 
           (df_lab['labname'].str.contains('pH')) |
           (df_lab['labname'].str.contains('paCO2',case=False)) |
           (df_lab['labname'].str.contains('direct',case=False)) |
           (df_lab['labname'].str.contains('excess',case=False)) |
           (df_lab['labname'].str.contains('ast',case=False)) |
           (df_lab['labname'].str.contains('bun',case=False)) |
           (df_lab['labname'].str.contains('Calcium',case=False)) |
           (df_lab['labname'].str.contains('glucose',case=False)) |
           (df_lab['labname'].str.contains('lactate',case=False)) |
           (df_lab['labname'].str.contains('magnesium',case=False)) |
           (df_lab['labname'].str.contains('phosphate',case=False)) |
           (df_lab['labname'].str.contains('potassium',case=False)) |
           (df_lab['labname'].str.contains('hct',case=False)) |
           (df_lab['labname'].str.contains('hgb',case=False)) |
           (df_lab['labname'].str.contains('ptt',case=False)) |
           (df_lab['labname'].str.contains('WBC x 1000')) |
           (df_lab['labname'].str.contains('fibrinogen',case=False)) |
           (df_lab['labname'].str.contains('troponin',case=False))]

In [22]:
df_to_join=df_to_join[['patientunitstayid','labresultoffset','labname','labresult']]

In [23]:
df_to_join.loc[df_to_join['labname'].str.contains('HCO3'),'HCO3']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('pH'),'pH']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('paCO2',case=False),'paCO2']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('direct',case=False),'direct_bilirubin']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('excess',case=False),'excess']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('ast',case=False),'ast']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('bun',case=False),'bun']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('Calcium',case=False),'calcium']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('glucose',case=False),'glucose']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('lactate',case=False),'lactate']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('magnesium',case=False),'magnesium']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('phosphate',case=False),'phosphate']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('potassium',case=False),'potassium']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('hct',case=False),'hct']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('hgb',case=False),'hgb']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('ptt',case=False),'ptt']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('WBC x 1000'),'wbc']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('fibrinogen',case=False),'fibrinogen']=df_to_join['labresult']
df_to_join.loc[df_to_join['labname'].str.contains('troponin',case=False),'troponin']=df_to_join['labresult']

In [24]:
del df_lab

In [25]:
df_to_join=df_to_join.drop(columns=['labname','labresult'])

In [26]:
#import the labs_updated.csv to join
labs_to_join=pd.read_csv("labs_updated_with_creatinine.csv")

In [27]:
labs_new=pd.merge(labs_to_join,df_to_join,on=['patientunitstayid','labresultoffset'],how='outer')
labs_new=labs_new.drop_duplicates()
labs_new=labs_new.groupby(['patientunitstayid','labresultoffset'],as_index=False).max()

In [18]:
labs_new.to_csv("labs_morevars.csv",index=False)

NameError: name 'labs_new' is not defined

In [19]:
mrevars=pd.read_csv("labs_morevars.csv")

NameError: name 'morevars' is not defined

In [20]:
len(mrevars.loc[mrevars['patientunitstayid'].isin(cases)]['patientunitstayid'].unique())

14175